@charset 'UTF-8';

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
}

.card {
    width: 100%;
    max-width: 400px;
    margin: 0 20px;
    background-color: crimson;
    border-radius: 35px;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.top {
    padding: 40px 0;

}
#foto-perfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 3px black;
}

.information {
    background-color: white;
    border-radius:  0 0 35px 35px;
    padding: 30px;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.information > p {
    margin: 0  0 10px 0;
}
.links {
    width: 80%;
    margin: 6px 0;

    display: flex;
    justify-content: space-evenly;
}
.links img {
    width: 25px;
}

article {
    text-align: center;
    width: 80%;
}

.botoes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.botoes > input {
    margin: 20px 0 0 0;
    border: 2px solid rgba(245, 51, 90, 0.904);
    border-radius: 30px;
    font-size: 1.2em;
    width: 47%;
    height: 40px;   
}

#follow {
    background-color: rgb(255, 255, 255);
}
#message {
    background-color: rgba(245, 51, 90, 0.904);
}

#follow:hover {
    background-color: rgba(245, 51, 90, 0.904);
    transition: 0.5s;
}
#message:hover {
    background-color: white;
    transition: 0.5s;
}