@charset 'UTF-8';

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root {
    --cor1: rgb(197, 121, 206);
    --cor2: rgb(245, 151, 255);
}




/*                                                         CONTEUDO PRINCIPAL                                                   */
main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.24);
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
}

/*                                                         IMAGENS                                                               */
.imagens {
    width: 40%;
    min-width: 400px;

    display: flex;
    justify-content: center;
}
.camisas {
    width: 80%;
    min-width: 300px;
    margin: 5%;
    border-radius: 10px;
}
.camisas:nth-child(2), .camisas:nth-child(3) {
    display: none;
}
/*                                                        FIM DAS IMAGENS                                                            */

/*                                        iNFORMAÇÕES(NOME DO PRODUTO, DISCRIÇÃO, MARCA)                                             */
.info{/* fazer um media query pra deixar a foto do produto e as informações uma do lado da outra em despositivos grandes e com linha quebrada em dispositivos pequenos */
    width: 100%;
    max-width: 55%;
    margin: 5% 0 2% 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.marca {
    font-weight: bold;
    color: var(--cor1);
    margin: 5px 0;
}
.nome-produto {
    margin: 7px 0;
    font-size: 230%;
}

.descricao {
    margin: 5px 0;
}
/*                                                      FIM DAS INFORMAÇÕES                                                          */


/*                                                          TAMANHO                                                                   */
.tamanhos {
    margin: 15px;

    display: flex;
}
.bordaTamanho {
    width: 40px;
    height: 37px;
    margin: 0 10px 0 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputTamanho {
    display: none;
}
.inputTamanho:checked + label {
    border: 2px solid var(--cor1);
    border-radius: 10px;
    padding: 5px;
    transition: 0.3s;
}
/*                                                      FIM DO TAMANHO                                                            */


/*                                                        QUANTIDADE                                                                */
.quantidade {
    margin: 0px 0 20px 0;
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}
.quantidade label {
    margin-bottom: 10px;
}
#iQuantidade  {
    border: 2px solid var(--cor1);
    border-radius: 4px;
    height: 45px;
    font-size: 1.4em;
}
option {
    border-radius: 4px;
    background-color: white;
}
/*                                                      FIM DA QUANTIDADE                                                         */


/*                                                      BOTÕES DE ADQUIRIR                                                        */
.adquirir {
    display: flex;
    justify-content: space-around;
}
.adquirir input {
    background-color: var(--cor1);
    color: rgb(60, 60, 60);
    font-size: 1.2em;
    border-radius: 5px;
    border: 0;
    width: 47%;
    height: 50px;
}
.adquirir input:nth-child(2) {
    margin-right: 3%;
}
.adquirir input:nth-child(1) {
    margin-left: -1%;
}
/*                                                     FIM DOS BOTÕES DE ADQUIRIR                                                     */


/*                                                          FIM DO CONTEUDO PRINCIPAL                                            */
